<div class="mt-12 mx-8">
  <section class="flex justify-between pb-4">
    <div>
      <h1 class="font-semibold text-4xl">Relatório de Acessibilidade</h1>

      <small
        >Executado em {{ relatorio()?.dataHoraExecucao | date: "dd/MM/yyyy 'às' HH:mm" }}
      </small>
    </div>
  </section>

  <!-- resumo -->
  <section class="grid grid-cols-4 pb-4">
    <app-stat-card title="Erros" [value]="relatorio()?.quantidadeErros ?? 0" icon="error" />

    <app-stat-card title="Avisos" [value]="relatorio()?.quantidadeAvisos ?? 0" icon="warning" />

    <app-stat-card
      title="VLibras"
      [value]="relatorio()?.tradutorLibrasIdentificado ? 'Identificado' : 'Não identificado'"
      [icon]="relatorio()?.tradutorLibrasIdentificado ? 'found' : 'not-found'"
    />

    <app-stat-card
      title="Pontuação"
      [value]="`${relatorio()?.pontuacao ?? 0} de 100`"
      icon="trophy"
      [iconColor]="getColor(relatorio()?.pontuacao ?? 0)"
    />
  </section>

  <!-- resultados -->
  <section>
    <p-accordion [(value)]="padraoAberto" [multiple]="true">
      @for (resultado of relatorio()?.resultados; track $index) {
        <p-accordion-panel [value]="$index">
          <p-accordion-header>
            <ng-template #toggleicon><span class="hidden"></span></ng-template>
            <span class="inline-flex items-center gap-2">
              <svg
                data-p-icon="chevron-right"
                [size]="20"
                class="transition-transform ease-out in-data-[p=active]:-rotate-90"
              ></svg>
              {{ resultado.url }}
            </span>
          </p-accordion-header>
          <p-accordion-content>
            @for (apontamento of resultado.apontamentos; track $index) {
              <h3 class="font-medium text-1xl text-surface-900 dark:text-surface-0 mt-1">
                [{{ apontamento.fonte }}] {{ apontamento.titulo }}
              </h3>
              <p class="text-sm">{{ apontamento.descricao }}</p>
              <p class="text-sm">{{ apontamento.tipo }}</p>
              <p class="text-sm">{{ apontamento.severidade }}</p>
              <p class="text-sm">
                Ajuda:
                <a pButton link href="{{ apontamento.urlAjuda }}" target="_blank">{{
                  apontamento.urlAjuda
                }}</a>
              </p>
              @if ($index < resultado.apontamentos.length - 1) {
                <p-divider />
              }
            }
          </p-accordion-content>
        </p-accordion-panel>
      }
    </p-accordion>
  </section>
</div>
