<div class="mt-12 mx-8 pb-4 overflow-hidden">
  <section class="flex justify-between pb-4">
    <div>
      <h1 class="font-semibold text-4xl">Relatório de Acessibilidade</h1>

      <small
        >Executado em {{ relatorio()?.dataHoraExecucao | date: "dd/MM/yyyy 'às' HH:mm" }}
      </small>
    </div>
  </section>

  <section class="grid grid-cols-4 pb-4">
    <app-stat-card title="Erros" [value]="relatorio()?.quantidadeErros ?? 0" icon="error" />

    <app-stat-card title="Avisos" [value]="relatorio()?.quantidadeAvisos ?? 0" icon="warning" />

    <app-stat-card
      title="VLibras"
      [value]="relatorio()?.tradutorLibrasIdentificado ? 'Identificado' : 'Não identificado'"
      [icon]="relatorio()?.tradutorLibrasIdentificado ? 'found' : 'not-found'"
    />

    <app-stat-card
      title="Pontuação"
      [value]="`${relatorio()?.pontuacao ?? 0} de 100`"
      icon="trophy"
      [iconColor]="getColor(relatorio()?.pontuacao ?? 0)"
      [infoTooltip]="
        'A pontuação é calculada através de uma média ponderada, cada severidade possuindo um peso diferente. ' +
        'O cálculo é feito apenas para fins comparativos dentro do próprio sistema.'
      "
    />
  </section>

  <section>
    <p-accordion
      [(value)]="padraoAberto"
      [multiple]="true"
      class="w-full block border border-surface-200 dark:border-surface-700 rounded-md divide-y divide-surface-200 dark:divide-surface-700"
    >
      @for (resultado of relatorio()?.resultados; track $index) {
        <p-accordion-panel [value]="$index">
          <p-accordion-header>
            <ng-template #toggleicon><span class="hidden"></span></ng-template>
            <div class="flex items-center justify-between gap-2 w-full">
              <span class="flex items-center gap-2">
                <svg
                  data-p-icon="chevron-right"
                  [size]="20"
                  class="transition-transform ease-out in-data-[p=active]:-rotate-90"
                ></svg>
                {{ resultado.url }}
              </span>

              <span class="flex items-center gap-2">
                <p-chip
                  [label]="resultado.pontuacao.toString()"
                  [icon]="'pi pi-trophy'"
                  alt="Pontuação"
                />
              </span>
            </div>
          </p-accordion-header>
          <p-accordion-content>
            @for (apontamento of resultado.apontamentos; track $index) {
              <div class="grid grid-cols-12 gap-4">
                <div class="col-span-1 flex flex-col gap-2">
                  <p class="text-sm">
                    <p-chip
                      [label]="apontamento.tipo | titlecase"
                      [icon]="getIconTipo(apontamento.tipo)"
                    />
                  </p>
                  <p class="text-sm">
                    <p-badge
                      [value]="apontamento.severidade"
                      size="large"
                      [severity]="getCorSeveridade(apontamento.severidade)"
                    />
                  </p>
                </div>
                <div class="descricao col-span-5">
                  <h3 class="font-medium text-1xl text-surface-900 dark:text-surface-0 mt-1">
                    {{ apontamento.titulo }}
                  </h3>
                  <p class="text-sm">{{ apontamento.descricao }}</p>
                  <p class="text-sm">Identificado por: {{ apontamento.fonte }}</p>
                  <p class="text-sm">Critérios eMAG violados: {{ apontamento.criteriosEmag?.join(', ') }}</p>
                </div>
                <div class="localizacao col-span-6">
                  @if (apontamento.seletorCss) {
                    <p class="text-sm">
                      Seletor CSS:
                      <app-code-snippet
                        [code]="apontamento.seletorCss"
                        [language]="'css'"
                        [showHeader]="false"
                      />
                    </p>
                  }
                  @if (apontamento.elementoHtml) {
                    <p class="text-sm">
                      Elemento HTML:
                      <app-code-snippet
                        [code]="apontamento.elementoHtml"
                        [language]="'html'"
                        [showHeader]="false"
                      />
                    </p>
                  }
                  <p class="text-sm">
                    @if (apontamento.urlAjuda) {
                      Ajuda:
                      <a pButton link href="{{ apontamento.urlAjuda }}" target="_blank">{{
                        apontamento.urlAjuda
                      }}</a>
                    }
                  </p>
                </div>
              </div>
              @if ($index < resultado.apontamentos.length - 1) {
                <p-divider />
              }
            }
          </p-accordion-content>
        </p-accordion-panel>
      }
    </p-accordion>
  </section>
</div>
