<main class="flex justify-center items-center">
  <p-card class="max-w-sm w-full" header="Argos" subheader="Entre com seu e-mail para continuar.">
    <form [formGroup]="form"   class="space-y-6 mt-3">
      <div class="flex flex-col gap-2">
        <label pLabel for="email_usuario">Email</label>
        <input
          class="w-full"
          pInputText
          type="email"
          id="email_usuario"
          placeholder="Digite seu E-mail"
          formControlName="email"
        />

        @if (isInvalid('email')) {
          @if (form.get('email')?.errors?.['required']) {
            <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
          }
          @if (form.get('email')?.errors?.['email']) {
            <p-message severity="error" size="small" variant="simple"
              >Please enter a valid email.</p-message
            >
          }
        }
      </div>

      <div class="flex flex-col gap-2">
        <div class="flex items-center justify-between">
          <label pLabel for="password" class="flex-1">Senha</label>
          <button type="button" pButton variant="link" class="p-0">Esqueceu a senha?</button>
        </div>
        <p-iconfield class="w-full">
          <input
            class="w-full"
            pInputPassword
            placeholder="Digite sua senha"
            id="senha_usuario"
            formControlName="senha"
            [(mask)]="mask"
          />
          <p-inputicon (click)="mask = !mask" style="cursor: pointer">
            @if (mask) {
              <svg data-p-icon="eye"></svg>
            } @else {
              <svg data-p-icon="eye-slash"></svg>
            }
          </p-inputicon>
        </p-iconfield>
      </div>
    </form>
    @if (error(); as message) {
      <p class="text-sm" role="alert">{{ message }}</p>
    }
    <ng-template #footer>
      <div class="flex flex-col gap-4">
        <button type="button" pButton class="w-full" (click)="onSubmit()">Login</button>
        <!-- <button type="button" pButton severity="secondary" [outlined]="true" class="w-full">
          Login with Google
        </button> -->
        <div class="mt-2 text-center text-surface-500 text-sm">
          Não possui conta?
          <button type="button" pButton variant="link" (click)="redirectCadastro()" class="p-0">
            Cadastre-se
          </button>
        </div>
      </div>
    </ng-template>
  </p-card>
</main>
