#chart-line,
#chart-bar,
#chart-pie,
#chart-routes,
#chart-emag {
  min-height: 280px;
  overflow: visible;
}

:host ::ng-deep .apexcharts-canvas,
:host ::ng-deep .apexcharts-svg {
  overflow: visible;
}
