#chart-line,
#chart-bar,
#chart-pie,
#chart-routes,
#chart-emag {
  min-height: 280px;
  overflow: visible;
}

:host ::ng-deep .apexcharts-canvas,
:host ::ng-deep .apexcharts-svg {
  overflow: visible;
}

:host ::ng-deep .apexcharts-bar-area,
:host ::ng-deep .apexcharts-pie-area,
:host ::ng-deep .apexcharts-series-markers .apexcharts-marker,
:host ::ng-deep .apexcharts-area {
  cursor: pointer;
}
