<div
  class="overflow-hidden rounded-md border border-surface-200 bg-surface-50 dark:border-surface-700 dark:bg-surface-900"
>
  @if (showHeader) {
    <div
      class="flex items-center justify-between border-b border-surface-200 bg-surface-100 px-2 dark:border-surface-700 dark:bg-surface-950"
    >
      <span class="text-xs font-bold tracking-wide text-muted-color">{{
        language | uppercase
      }}</span>
      <button type="button" pButton variant="link" class="p-0" (click)="copyToClipboard()">
        @if (copiado()) {
          <span>Copiado</span>
        } @else {
          <span>Copiar</span>
        }
      </button>
    </div>
  }
  <pre
    [class]="'language-' + this.language"
    style="white-space: pre-wrap"
  ><code style="white-space: pre-wrap" [class]="'language-' + this.language" [innerHTML]="highlightedCode()"></code></pre>
</div>
