pre[class*='language-'] {
  margin: 0 !important;
  padding: 1rem !important;
  overflow-x: auto;
  white-space: pre;
  background: transparent !important;
}

code[class*='language-'] {
  display: block;
  white-space: pre;
  font-size: 0.85rem;
  line-height: 1.5;
  text-shadow: none;
  background: transparent !important;
}
